/* GLOBAL STYLES -------------------------------- */
:root {
    --nav-blue: #3b82f6;
}

/* NAVBAR STYLES -------------------------------- */

.active {
    filter: drop-shadow(0 0 5px brown);
    border-bottom: 4px double var(--nav-blue);
}

.burgerBar {
    width: 60px;
    height: 60px;
}

/* HOME STYLES ---------------------------------- */
.bg-pandl {
    width: 100%;
    height: 100vh;
    background-image: url('./images/pandl-color-rect.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.drop-shad {
    filter: drop-shadow(-1px -1px 10px black);
}

/* MEDIA QUERIES -------------------------------- */

@media (width <= 600px) {
    .navLink {
        display: none;
    }
}